/*
 * Neutral colors
 */
$neutral-black: #000000;
$neutral-gray1: #484848;
$neutral-gray2: #797979;
$neutral-gray3: #a9a9a9;
$neutral-gray4: #d9d9d9;
$neutral-white: #ffffff;

/*
 * Primary colors
 */
$primary-100: #129575;
$primary-80: #71b1a1;
$primary-60: #afd3ca;
$primary-40: #dbebe7;
$primary-20: #f6faf9;

/*
 * Secondary colors
 */
$secondary-100: #ff9c00;
$secondary-80: #ffa61a;
$secondary-60: #ffba4d;
$secondary-40: #ffce80;
$secondary-20: #ffe1b3;

/*
 * Rating colors
 */
$rating: #ffad30;

/*
 * Warning colors
 */
$warning-dark: #fd3654;
$warning-light: #ffe1e7;

/*
 * Success colors
 */
$success: #31b057;
