body,
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  padding: 2rem;
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
}

@import "components/splashscreen", "components/button", "components/input",
  "components/ratingBadge", "components/cards";
