@import "../color";

.splashscreen {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: $neutral-white;

  .splashscreen__content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;

    background: linear-gradient(
      179.98deg,
      rgba(0, 0, 0, 0.4) 0.01%,
      #000000 99.99%
    );

    .splashscreen__content-top,
    .splashscreen__content-bottom {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .splashscreen__content-bottom {
      justify-content: flex-end;
      padding-bottom: 80px;
    }

    img {
      width: 79px;
      height: 79px;
    }

    .splashscreen__content-top > span {
      margin-top: 14px;
    }

    .splashscreen__content-bottom > button {
      margin-top: 64px;
    }
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .login__title {
    flex: 1;
    margin-top: 2rem;
  }

  .login__form,
  .login__actions {
    width: 100%;
    flex: 1;
  }

  .login__form > .input {
    margin-bottom: 2rem;
  }
}
